section.section-padding {
    padding: 60px 0;
}

.section-title.text-center {
    margin-bottom: 40px;
}
.pricing-plan-item {
    padding: 20px;
    border: 1px solid black;
    border-radius: 12px;
    text-align: center;
}

.pricing-list {
    text-align: left;
}

.pricing-plan-item h2 {
    margin-bottom: 24px;
}

.pricing-icon img {
    width: 60px;
    height: 60px;
}
.pricing-icon {
    margin-bottom: 24px;
}

.pricing-price span {
    font-size: 26px;
}

.pricing-price {
    margin-bottom: 24px;
}