.section-padding {
   --spacing:2.5rem;
   padding: var(--spacing) 0;
}
.section-title h2 span {
   color: green;
}

.section-title h2:not(.accordion-header) {
   font-size: 40px;
   line-height: 48px;
   margin-bottom: 24px;
}
.faq {
   min-height: 200px;
}

@media (min-width: 992px) {
   .left-to-right-width {
      position: absolute;
      left: 0;
      width: 45%;
      bottom: var(--spacing);
      top: var(--spacing);
   }
}
@media (max-width: 992px){
   .left-to-right-width{
      border-radius: 1.5rem;
   }
}